* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
  font-family: NotoSans;
}
.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}
.inner {
  display: flex;
  flex: 1;
}

/* header */
.header {
  width: 200px;
  /* height: 650px; */
  background: #fff;
}
.header h1 a {
  display: block;
  height: 100%;
  width: 160px;
  margin: 30px auto 50px;
}
.header img {
  display: block;
  height: 50px;

  /* 로고의 크기 변경 시, 가로세로 비율(종횡비, aspect ratio)을 유지하여야 한다. */
  /* 위의 조건을 만족시키기 위해서 height나 width 둘 중 하나만 넣으면 됨 */
  /* height 값을 설정해준 경우 이후 media query를 작업할 때는 auto(default)로 설정해주면 됨 */
}

/* header nav */
#gnb a {
  padding: 18px;
}

#gnb .depth1-li {
  position: relative;
}

#gnb .depth1-li > a:hover {
  color: blue;
}

#gnb .depth1-li > a {
  transition: color 0.3s;
  font-weight: 800;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

#gnb .depth1-li:hover .depth2 {
  max-height: 300px;
  opacity: 1;
  overflow: visible;
  background: rgb(34, 34, 34, 0.1);
  backdrop-filter: 5px;
}

#gnb .depth2 {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
  /* depth2 absolute으로 띄울 때 주석 풀기 */
  /* position: absolute;
  top: 0;
  left: 100%; */
}

#gnb .depth1-li:hover .menu-li {
  padding: 10px 0;
}

#gnb .depth2 .menu-li:hover {
  background: rgb(34, 34, 34, 0.05);
}

#gnb .depth2 .menu-li {
  transition: all 0.3s;
  /* depth2 absolute으로 띄울 때 주석 풀기 */
  /* width: 150px; */
}

#gnb .depth2 .menu-li:hover a {
  color: blue;
}

#gnb .depth2 .menu-li a {
  transition: color 0.3s;
}

/* main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* height: 650px; */
  background: #222;
}
.main .upper {
  display: flex;
  flex: 1;
  /* height: calc(100vh - 350px); */
  /* height: 400px; */
  /* flex일 경우 height를 flex에만 넣으면 자녀 요소에 적용됨 */
}

/* main .slide */
.main .slide {
  flex: 1;
  position: relative;
  background: #fff;
  overflow: hidden;
}
.slide-wrap {
  width: 300%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.slide-el {
  width: 100%;
  height: 100%;
}
.slide-1 {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/slide1.jpg) no-repeat 50% 50% / cover;
}
.slide-2 {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/slide2.jpg) no-repeat 100% 50% / cover;
}
.slide-3 {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/slide3.jpg) no-repeat 0% 50% / cover;
}

.main .bnr {
  width: 230px;
  background: #999;
}
.main .bottom {
  height: 250px;
  display: flex;
  gap: 30px;
}
.main .bbs {
  flex: 1;
  background: #aaa;
}
.main .gal {
  flex: 1;
  background: #eee;
}
.footer {
  width: 100%;
  height: 100px;
  background: #bbb;
}
